<% provide(:title, 'スレッド一覧') %>
<div class="threads">

    <ul class="list">
    
      <li class="fat"><div class="btn-square">オカルト板 (40)</div>
        <ul class="cil">
          <li>
          <li><%= link_to "悟りを開いた人のスレ(40)", "/thread/悟りを開いた人のスレ" %></li>
        </ul>
      </li>
      <li class="fat"><div class="btn-square">なんでも避難所 (3877)</div>
        <ul class="cil">
            <li><%= link_to "鬼和尚に聞いてみるスレ　part10 (189)", "/thread/鬼和尚に聞いてみるスレ　part10" %></li>
            <li><%= link_to "鬼和尚に聞いてみるスレ　part11 (207)", "/thread/鬼和尚に聞いてみるスレ　part11" %></li>
            <li><%= link_to "鬼和尚に聞いてみるスレ　part12 (183)", "/thread/鬼和尚に聞いてみるスレ　part12" %></li>
            <li><%= link_to "鬼和尚に聞いてみるスレ　part13 (206)", "/thread/鬼和尚に聞いてみるスレ　part13" %></li>
            <li><%= link_to "鬼和尚に聞いてみるスレ　part14 (256)", "/thread/鬼和尚に聞いてみるスレ　part14" %></li>
            <li><%= link_to "鬼和尚に聞いてみるスレ　part15 (112)", "/thread/鬼和尚に聞いてみるスレ　part15" %></li>
            <li><%= link_to "鬼和尚に聞いてみるスレ part2 (214)", "/thread/鬼和尚に聞いてみるスレ part2" %></li>
            <li><%= link_to "鬼和尚に聞いてみるスレ part３ (144)", "/thread/鬼和尚に聞いてみるスレ part３" %></li>
            <li><%= link_to "鬼和尚に聞いてみるスレ part4 (243)", "/thread/鬼和尚に聞いてみるスレ part4" %></li>
            <li><%= link_to "鬼和尚に聞いてみるスレ part5 (243)", "/thread/鬼和尚に聞いてみるスレ part5" %></li>
            <li><%= link_to "鬼和尚に聞いてみるスレ part6 (234)", "/thread/鬼和尚に聞いてみるスレ part6" %></li>
            <li><%= link_to "鬼和尚に聞いてみるスレ part7 (227)", "/thread/鬼和尚に聞いてみるスレ part7" %></li>
            <li><%= link_to "鬼和尚に聞いてみるスレ part8 (210)", "/thread/鬼和尚に聞いてみるスレ part8" %></li>
            <li><%= link_to "鬼和尚に聞いてみるスレ part9 (211)", "/thread/鬼和尚に聞いてみるスレ part9" %></li>
            <li><%= link_to "鬼和尚に聞いてみるスレ　part10 (189)", "/thread/鬼和尚に聞いてみるスレ　part10" %></li>
            <li><%= link_to "鬼和尚に聞いてみるスレ【１】 (160)", "/thread/鬼和尚に聞いてみるスレ【１】" %></li>
            <li><%= link_to "鬼和尚の仏教勉強会　講読ゼミ 4 (349)", "/thread/鬼和尚の仏教勉強会　講読ゼミ 4" %></li>
            <li><%= link_to "鬼和尚の仏教勉強会　講読ゼミ ５ (186)", "/thread/鬼和尚の仏教勉強会　講読ゼミ ５" %></li>
            <li><%= link_to "鬼和尚の仏教購読会 別館 (303)", "/thread/鬼和尚の仏教購読会 別館" %></li>
        </ul>
      </li>
      <li class="fat"><div class="btn-square">人生相談板 (4868)</div>
        <ul class="cil">
          <li><%= link_to '悟りを開いたに聞いて見るスレ【人生相談】38人 (39)', '/thread/悟りを開いたに聞いて見るスレ【人生相談】38人' %></li>
            <li><%= link_to '悟りを開いた人に聞いてみるスレ【人生相談】 64 (43)', '/thread/悟りを開いた人に聞いてみるスレ【人生相談】 64' %></li>
            <li><%= link_to '悟りを開いた人に聞いてみるスレ【人生相談】 65 (42)', '/thread/悟りを開いた人に聞いてみるスレ【人生相談】 65' %></li>
            <li><%= link_to '悟りを開いた人に聞いてみるスレ【人生相談】 66 (45)', '/thread/悟りを開いた人に聞いてみるスレ【人生相談】 66' %></li>
            <li><%= link_to '悟りを開いた人に聞いてみるスレ【人生相談】 67 (51)', '/thread/悟りを開いた人に聞いてみるスレ【人生相談】 67' %></li>
            <li><%= link_to '悟りを開いた人に聞いてみるスレ【人生相談】 68 (51)', '/thread/悟りを開いた人に聞いてみるスレ【人生相談】 68' %></li>
            <li><%= link_to '悟りを開いた人に聞いてみるスレ【人生相談】 69 (62)', '/thread/悟りを開いた人に聞いてみるスレ【人生相談】 69' %></li>
            <li><%= link_to '悟りを開いた人に聞いてみるスレ【人生相談】 70 (46)', '/thread/悟りを開いた人に聞いてみるスレ【人生相談】 70' %></li>
            <li><%= link_to '悟りを開いた人に聞いてみるスレ【人生相談】 71 (54)', '/thread/悟りを開いた人に聞いてみるスレ【人生相談】 71' %></li>
            <li><%= link_to '悟りを開いた人に聞いてみるスレ【人生相談】 72 (79)', '/thread/悟りを開いた人に聞いてみるスレ【人生相談】 72' %></li>
            <li><%= link_to '悟りを開いた人に聞いてみるスレ【人生相談】 73 (76)', '/thread/悟りを開いた人に聞いてみるスレ【人生相談】 73' %></li>
            <li><%= link_to '悟りを開いた人に聞いてみるスレ【人生相談】 74 (50)', '/thread/悟りを開いた人に聞いてみるスレ【人生相談】 74' %></li>
            <li><%= link_to '悟りを開いた人に聞いてみるスレ【人生相談】 75 (48)', '/thread/悟りを開いた人に聞いてみるスレ【人生相談】 75' %></li>
            <li><%= link_to '悟りを開いた人に聞いてみるスレ【人生相談】 76 (252)', '/thread/悟りを開いた人に聞いてみるスレ【人生相談】 76' %></li>
            <li><%= link_to '悟りを開いた人に聞いてみるスレ【人生相談】-2 (39)', '/thread/悟りを開いた人に聞いてみるスレ【人生相談】-2' %></li>
            <li><%= link_to '悟りを開いた人に聞いてみるスレ【人生相談】-人 (54)', '/thread/悟りを開いた人に聞いてみるスレ【人生相談】-人' %></li>
            <li><%= link_to '悟りを開いた人に聞いてみるスレ【人生相談】１ (277)', '/thread/悟りを開いた人に聞いてみるスレ【人生相談】１' %></li>
            <li><%= link_to '悟りを開いた人に聞いてみるスレ【人生相談】10 (63)', '/thread/悟りを開いた人に聞いてみるスレ【人生相談】10' %></li>
            <li><%= link_to '悟りを開いた人に聞いてみるスレ【人生相談】11 (62)', '/thread/悟りを開いた人に聞いてみるスレ【人生相談】11' %></li>
            <li><%= link_to '悟りを開いた人に聞いてみるスレ【人生相談】12 (76)', '/thread/悟りを開いた人に聞いてみるスレ【人生相談】12' %></li>
            <li><%= link_to '悟りを開いた人に聞いてみるスレ【人生相談】14 (62)', '/thread/悟りを開いた人に聞いてみるスレ【人生相談】14' %></li>
            <li><%= link_to '悟りを開いた人に聞いてみるスレ【人生相談】18 (87)', '/thread/悟りを開いた人に聞いてみるスレ【人生相談】18' %></li>
            <li><%= link_to '悟りを開いた人に聞いてみるスレ【人生相談】19 (32)', '/thread/悟りを開いた人に聞いてみるスレ【人生相談】19' %></li>
            <li><%= link_to '悟りを開いた人に聞いてみるスレ【人生相談】20 (78)', '/thread/悟りを開いた人に聞いてみるスレ【人生相談】20' %></li>
            <li><%= link_to '悟りを開いた人に聞いてみるスレ【人生相談】21 (109)', '/thread/悟りを開いた人に聞いてみるスレ【人生相談】21' %></li>
            <li><%= link_to '悟りを開いた人に聞いてみるスレ【人生相談】22 (93)', '/thread/悟りを開いた人に聞いてみるスレ【人生相談】22' %></li>
            <li><%= link_to '悟りを開いた人に聞いてみるスレ【人生相談】23 (55)', '/thread/悟りを開いた人に聞いてみるスレ【人生相談】23' %></li>
            <li><%= link_to '悟りを開いた人に聞いてみるスレ【人生相談】24 (71)', '/thread/悟りを開いた人に聞いてみるスレ【人生相談】24' %></li>
            <li><%= link_to '悟りを開いた人に聞いてみるスレ【人生相談】25 (78)', '/thread/悟りを開いた人に聞いてみるスレ【人生相談】25' %></li>
            <li><%= link_to '悟りを開いた人に聞いてみるスレ【人生相談】26 (70)', '/thread/悟りを開いた人に聞いてみるスレ【人生相談】26' %></li>
            <li><%= link_to '悟りを開いた人に聞いてみるスレ【人生相談】27 (28)', '/thread/悟りを開いた人に聞いてみるスレ【人生相談】27' %></li>
            <li><%= link_to '悟りを開いた人に聞いてみるスレ【人生相談】28 (24)', '/thread/悟りを開いた人に聞いてみるスレ【人生相談】28' %></li>
            <li><%= link_to '悟りを開いた人に聞いてみるスレ【人生相談】29 (43)', '/thread/悟りを開いた人に聞いてみるスレ【人生相談】29' %></li>
            <li><%= link_to '悟りを開いた人に聞いてみるスレ【人生相談】3 (84)', '/thread/悟りを開いた人に聞いてみるスレ【人生相談】3' %></li>
            <li><%= link_to '悟りを開いた人に聞いてみるスレ【人生相談】30 (37)', '/thread/悟りを開いた人に聞いてみるスレ【人生相談】30' %></li>
            <li><%= link_to '悟りを開いた人に聞いてみるスレ【人生相談】31 (47)', '/thread/悟りを開いた人に聞いてみるスレ【人生相談】31' %></li>
            <li><%= link_to '悟りを開いた人に聞いてみるスレ【人生相談】32 (44)', '/thread/悟りを開いた人に聞いてみるスレ【人生相談】32' %></li>
            <li><%= link_to '悟りを開いた人に聞いてみるスレ【人生相談】33 (60)', '/thread/悟りを開いた人に聞いてみるスレ【人生相談】33' %></li>
            <li><%= link_to '悟りを開いた人に聞いてみるスレ【人生相談】34 (38)', '/thread/悟りを開いた人に聞いてみるスレ【人生相談】34' %></li>
            <li><%= link_to '悟りを開いた人に聞いてみるスレ【人生相談】35 (57)', '/thread/悟りを開いた人に聞いてみるスレ【人生相談】35' %></li>
            <li><%= link_to '悟りを開いた人に聞いてみるスレ【人生相談】39 (19)', '/thread/悟りを開いた人に聞いてみるスレ【人生相談】39' %></li>
            <li><%= link_to '悟りを開いた人に聞いてみるスレ【人生相談】4 (116)', '/thread/悟りを開いた人に聞いてみるスレ【人生相談】4' %></li>
            <li><%= link_to '悟りを開いた人に聞いてみるスレ【人生相談】40 (23)', '/thread/悟りを開いた人に聞いてみるスレ【人生相談】40' %></li>
            <li><%= link_to '悟りを開いた人に聞いてみるスレ【人生相談】41 (50)', '/thread/悟りを開いた人に聞いてみるスレ【人生相談】41' %></li>
            <li><%= link_to '悟りを開いた人に聞いてみるスレ【人生相談】42 (38)', '/thread/悟りを開いた人に聞いてみるスレ【人生相談】42' %></li>
            <li><%= link_to '悟りを開いた人に聞いてみるスレ【人生相談】43 (30)', '/thread/悟りを開いた人に聞いてみるスレ【人生相談】43' %></li>
            <li><%= link_to '悟りを開いた人に聞いてみるスレ【人生相談】44 (23)', '/thread/悟りを開いた人に聞いてみるスレ【人生相談】44' %></li>
            <li><%= link_to '悟りを開いた人に聞いてみるスレ【人生相談】45 (33)', '/thread/悟りを開いた人に聞いてみるスレ【人生相談】45' %></li>
            <li><%= link_to '悟りを開いた人に聞いてみるスレ【人生相談】46 (55)', '/thread/悟りを開いた人に聞いてみるスレ【人生相談】46' %></li>
            <li><%= link_to '悟りを開いた人に聞いてみるスレ【人生相談】47 (80)', '/thread/悟りを開いた人に聞いてみるスレ【人生相談】47' %></li>
            <li><%= link_to '悟りを開いた人に聞いてみるスレ【人生相談】48 (53)', '/thread/悟りを開いた人に聞いてみるスレ【人生相談】48' %></li>
            <li><%= link_to '悟りを開いた人に聞いてみるスレ【人生相談】49 (101)', '/thread/悟りを開いた人に聞いてみるスレ【人生相談】49' %></li>
            <li><%= link_to '悟りを開いた人に聞いてみるスレ【人生相談】５ (59)', '/thread/悟りを開いた人に聞いてみるスレ【人生相談】５' %></li>
            <li><%= link_to '悟りを開いた人に聞いてみるスレ【人生相談】51©2ch.net (65)', '/thread/悟りを開いた人に聞いてみるスレ【人生相談】51©2ch.net' %></li>
            <li><%= link_to '悟りを開いた人に聞いてみるスレ【人生相談】52©2ch.net (27)', '/thread/悟りを開いた人に聞いてみるスレ【人生相談】52©2ch.net' %></li>
            <li><%= link_to '悟りを開いた人に聞いてみるスレ【人生相談】53 [無断転載禁止]©2ch.net (56)', '/thread/悟りを開いた人に聞いてみるスレ【人生相談】53 [無断転載禁止]©2ch.net' %></li>
            <li><%= link_to '悟りを開いた人に聞いてみるスレ【人生相談】54 [無断転載禁止]©2ch.net (78)', '/thread/悟りを開いた人に聞いてみるスレ【人生相談】54 [無断転載禁止]©2ch.net' %></li>
            <li><%= link_to '悟りを開いた人に聞いてみるスレ【人生相談】55 [無断転載禁止]©2ch.net (63)', '/thread/悟りを開いた人に聞いてみるスレ【人生相談】55 [無断転載禁止]©2ch.net' %></li>
            <li><%= link_to '悟りを開いた人に聞いてみるスレ【人生相談】56 [無断転載禁止]©2ch.net (82)', '/thread/悟りを開いた人に聞いてみるスレ【人生相談】56 [無断転載禁止]©2ch.net' %></li>
            <li><%= link_to '悟りを開いた人に聞いてみるスレ【人生相談】57 [無断転載禁止]©2ch.net (101)', '/thread/悟りを開いた人に聞いてみるスレ【人生相談】57 [無断転載禁止]©2ch.net' %></li>
            <li><%= link_to '悟りを開いた人に聞いてみるスレ【人生相談】58 [無断転載禁止]©2ch.net (111)', '/thread/悟りを開いた人に聞いてみるスレ【人生相談】58 [無断転載禁止]©2ch.net' %></li>
            <li><%= link_to '悟りを開いた人に聞いてみるスレ【人生相談】59 [無断転載禁止]©2ch.net (114)', '/thread/悟りを開いた人に聞いてみるスレ【人生相談】59 [無断転載禁止]©2ch.net' %></li>
            <li><%= link_to '悟りを開いた人に聞いてみるスレ【人生相談】６ (99)', '/thread/悟りを開いた人に聞いてみるスレ【人生相談】６' %></li>
            <li><%= link_to '悟りを開いた人に聞いてみるスレ【人生相談】60 (63)', '/thread/悟りを開いた人に聞いてみるスレ【人生相談】60' %></li>
            <li><%= link_to '悟りを開いた人に聞いてみるスレ【人生相談】61 (34)', '/thread/悟りを開いた人に聞いてみるスレ【人生相談】61' %></li>
            <li><%= link_to '悟りを開いた人に聞いてみるスレ【人生相談】62 (13)', '/thread/悟りを開いた人に聞いてみるスレ【人生相談】62' %></li>
            <li><%= link_to '悟りを開いた人に聞いてみるスレ【人生相談】63 (41)', '/thread/悟りを開いた人に聞いてみるスレ【人生相談】63' %></li>
            <li><%= link_to '悟りを開いた人に聞いてみるスレ【人生相談】７ (76)', '/thread/悟りを開いた人に聞いてみるスレ【人生相談】７' %></li>
            <li><%= link_to '悟りを開いた人に聞いてみるスレ【人生相談】77 (93)', '/thread/悟りを開いた人に聞いてみるスレ【人生相談】77' %></li>
            <li><%= link_to '悟りを開いた人に聞いてみるスレ【人生相談】78 (8)', '/thread/悟りを開いた人に聞いてみるスレ【人生相談】78' %></li>
            <li><%= link_to '悟りを開いた人に聞いてみるスレ【人生相談】８ (131)', '/thread/悟りを開いた人に聞いてみるスレ【人生相談】８' %></li>
            <li><%= link_to '悟りを開いた人に聞いてみるスレ【人生相談】９ (101)', '/thread/悟りを開いた人に聞いてみるスレ【人生相談】９' %></li>
            <li><%= link_to '悟りを開いた人に聞いてみるスレ14人生相談板 (82)', '/thread/悟りを開いた人に聞いてみるスレ14人生相談板' %></li>
            <li><%= link_to '悟りを開いた人に聞いてみるスレ３６人生相談板 (44)', '/thread/悟りを開いた人に聞いてみるスレ３６人生相談板' %>
        </ul>
      </li>

      <li class="fat"><div class="btn-square">心と宗教板 (4174)</div>
        <ul class="cil">
         <li><%= link_to '【仏教】 悟りを開いた人のスレ301【天空寺】 (3)', '/thread/【仏教】 悟りを開いた人のスレ301【天空寺】 ' %></li>
<li><%= link_to '【仏教】 悟りを開いた人のスレ302【天空寺】 (42)', '/thread/【仏教】 悟りを開いた人のスレ302【天空寺】 ' %></li>
<li><%= link_to '【仏教】 悟りを開いた人のスレ304【天空寺】 (10)', '/thread/【仏教】 悟りを開いた人のスレ304【天空寺】 ' %></li>
<li><%= link_to '【仏教】 悟りを開いた人のスレ305【天空寺】 (10)', '/thread/【仏教】 悟りを開いた人のスレ305【天空寺】 ' %></li>
<li><%= link_to '【仏教】 悟りを開いた人のスレ307【天空寺】 (1)', '/thread/【仏教】 悟りを開いた人のスレ307【天空寺】 ' %></li>
<li><%= link_to '【仏教】 悟りを開いた人のスレ308【天空寺】 (1)', '/thread/【仏教】 悟りを開いた人のスレ308【天空寺】 ' %></li>
<li><%= link_to '【仏教】 悟りを開いた人のスレ310【天空寺】 (1)', '/thread/【仏教】 悟りを開いた人のスレ310【天空寺】 ' %></li>
<li><%= link_to '【仏教】 悟りを開いた人のスレ311【天空寺】 (1)', '/thread/【仏教】 悟りを開いた人のスレ311【天空寺】 ' %></li>
<li><%= link_to '【仏教】 悟りを開いた人のスレ313【天空寺】 (4)', '/thread/【仏教】 悟りを開いた人のスレ313【天空寺】 ' %></li>
<li><%= link_to '【仏教】 悟りを開いた人のスレ314【天空寺】 (28)', '/thread/【仏教】 悟りを開いた人のスレ314【天空寺】 ' %></li>
<li><%= link_to '【仏教】 悟りを開いた人のスレ315【天空寺】 (35)', '/thread/【仏教】 悟りを開いた人のスレ315【天空寺】 ' %></li>
<li><%= link_to '【仏教】 悟りを開いた人のスレ316【天空寺】 (11)', '/thread/【仏教】 悟りを開いた人のスレ316【天空寺】 ' %></li>
<li><%= link_to '【仏教】 悟りを開いた人のスレ317【天空寺】 (4)', '/thread/【仏教】 悟りを開いた人のスレ317【天空寺】 ' %></li>
<li><%= link_to '【仏教】 悟りを開いた人のスレ319【天空寺】 (11)', '/thread/【仏教】 悟りを開いた人のスレ319【天空寺】 ' %></li>
<li><%= link_to '【仏教】 悟りを開いた人のスレ320【天空寺】 (5)', '/thread/【仏教】 悟りを開いた人のスレ320【天空寺】 ' %></li>
<li><%= link_to '【仏教】 悟りを開いた人のスレ326【天空寺】 (13)', '/thread/【仏教】 悟りを開いた人のスレ326【天空寺】 ' %></li>
<li><%= link_to '【仏教】 悟りを開いた人のスレ327【天空寺】 (8)', '/thread/【仏教】 悟りを開いた人のスレ327【天空寺】 ' %></li>
<li><%= link_to '【仏教】 悟りを開いた人のスレ328【天空寺】 (6)', '/thread/【仏教】 悟りを開いた人のスレ328【天空寺】 ' %></li>
<li><%= link_to '【仏教】 悟りを開いた人のスレ329【天空寺】 (4)', '/thread/【仏教】 悟りを開いた人のスレ329【天空寺】 ' %></li>
<li><%= link_to '【仏教】 悟りを開いた人のスレ330【天空寺】 (2)', '/thread/【仏教】 悟りを開いた人のスレ330【天空寺】 ' %></li>
<li><%= link_to '【仏教】 悟りを開いた人のスレ335【天空寺】 (2)', '/thread/【仏教】 悟りを開いた人のスレ335【天空寺】 ' %></li>
<li><%= link_to '【仏教】 悟りを開いた人のスレ337【天空寺】 (1)', '/thread/【仏教】 悟りを開いた人のスレ337【天空寺】 ' %></li>
<li><%= link_to '【仏教】悟りを開いた人ｗｗｗのスレ139【天空寺 (6)', '/thread/【仏教】悟りを開いた人ｗｗｗのスレ139【天空寺 ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ　２６５【天空寺】 (1)', '/thread/【仏教】悟りを開いた人のスレ　２６５【天空寺】 ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ-１０-【鬼和尚】 (28)', '/thread/【仏教】悟りを開いた人のスレ-１０-【鬼和尚】 ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ-１1-【鬼和尚】心 (26)', '/thread/【仏教】悟りを開いた人のスレ-１1-【鬼和尚】心 ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ-12-【鬼和尚】心 (31)', '/thread/【仏教】悟りを開いた人のスレ-12-【鬼和尚】心 ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ-13-【鬼和尚】心 (14)', '/thread/【仏教】悟りを開いた人のスレ-13-【鬼和尚】心 ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ-１４-【鬼和尚】 (16)', '/thread/【仏教】悟りを開いた人のスレ-１４-【鬼和尚】 ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ-１５-【鬼和尚】 (19)', '/thread/【仏教】悟りを開いた人のスレ-１５-【鬼和尚】 ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ-16-【鬼和尚】心 (15)', '/thread/【仏教】悟りを開いた人のスレ-16-【鬼和尚】心 ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ-17-【鬼和尚】心 (9)', '/thread/【仏教】悟りを開いた人のスレ-17-【鬼和尚】心 ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ-18-【鬼和尚】心 (10)', '/thread/【仏教】悟りを開いた人のスレ-18-【鬼和尚】心 ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ-19-【鬼和尚】心 (14)', '/thread/【仏教】悟りを開いた人のスレ-19-【鬼和尚】心 ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ-2 (47)', '/thread/【仏教】悟りを開いた人のスレ-2 ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ-20【鬼和尚】心 (12)', '/thread/【仏教】悟りを開いた人のスレ-20【鬼和尚】心 ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ-22-【鬼和尚】心 (16)', '/thread/【仏教】悟りを開いた人のスレ-22-【鬼和尚】心 ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ-23【鬼和尚】-心 (13)', '/thread/【仏教】悟りを開いた人のスレ-23【鬼和尚】-心 ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ-３ (10)', '/thread/【仏教】悟りを開いた人のスレ-３ ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ-４-【鬼和尚】 (14)', '/thread/【仏教】悟りを開いた人のスレ-４-【鬼和尚】 ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ-４-心と宗教板 (30)', '/thread/【仏教】悟りを開いた人のスレ-４-心と宗教板 ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ-６-【鬼和尚】 (9)', '/thread/【仏教】悟りを開いた人のスレ-６-【鬼和尚】 ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ-７-【鬼和尚】 (17)', '/thread/【仏教】悟りを開いた人のスレ-７-【鬼和尚】 ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ-８-【鬼和尚】 (13)', '/thread/【仏教】悟りを開いた人のスレ-８-【鬼和尚】 ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ-９-【鬼和尚】 (4)', '/thread/【仏教】悟りを開いた人のスレ-９-【鬼和尚】 ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ-９-【鬼和尚】心 (15)', '/thread/【仏教】悟りを開いた人のスレ-９-【鬼和尚】心 ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ【天空寺】 [無断転載禁止]©2ch.net (27)', '/thread/【仏教】悟りを開いた人のスレ【天空寺】 [無断転載禁止]©2ch.net ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ【天空寺】235 [無断転載禁止]©2ch.net (14)', '/thread/【仏教】悟りを開いた人のスレ【 天空寺】235 [無断転載禁止]©2ch.net ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ【天空寺】236 [無断転載禁止]©2ch.net [無断転載禁止]©2ch.net (11)', '/thread/【仏教】悟りを開いた人のスレ【天空寺】236 [無断転載禁止]©2ch.net [無断転載禁止]©2ch.net ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ【天空寺】237 [無断転載禁止]©2ch.net (14)', '/thread/【仏教】悟りを開いた人のスレ【 天空寺】237 [無断転載禁止]©2ch.net ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ【天空寺】238 [無断転載禁止]©2ch.net (8)', '/thread/【仏教】悟りを開いた人のスレ【天空寺】238 [無断転載禁止]©2ch.net ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ【天空寺】239 [無断転載禁止]©2ch.net (5)', '/thread/【仏教】悟りを開いた人のスレ【天空寺】239 [無断転載禁止]©2ch.net ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ【天空寺】240 [無断転載禁止]©2ch.net (4)', '/thread/【仏教】悟りを開いた人のスレ【天空寺】240 [無断転載禁止]©2ch.net ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ【天空寺】241 [無断転載禁止]©2ch.net (7)', '/thread/【仏教】悟りを開いた人のスレ【天空寺】241 [無断転載禁止]©2ch.net ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ【天空寺】242 [無断転載禁止]©2ch.net (5)', '/thread/【仏教】悟りを開いた人のスレ【天空寺】242 [無断転載禁止]©2ch.net ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ【天空寺】243 [無断転載禁止]©2ch.net (2)', '/thread/【仏教】悟りを開いた人のスレ【天空寺】243 [無断転載禁止]©2ch.net ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ【天空寺】244 [無断転載禁止]©2ch.net (4)', '/thread/【仏教】悟りを開いた人のスレ【天空寺】244 [無断転載禁止]©2ch.net ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ【天空寺】245 [無断転載禁止]©2ch.net (6)', '/thread/【仏教】悟りを開いた人のスレ【天空寺】245 [無断転載禁止]©2ch.net ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ【天空寺】246 [無断転載禁止]©2ch.net (7)', '/thread/【仏教】悟りを開いた人のスレ【天空寺】246 [無断転載禁止]©2ch.net ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ【天空寺】247 [無断転載禁止]©2ch.net (3)', '/thread/【仏教】悟りを開いた人のスレ【天空寺】247 [無断転載禁止]©2ch.net ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ【天空寺】248 [無断転載禁止]©2ch.net (9)', '/thread/【仏教】悟りを開いた人のスレ【天空寺】248 [無断転載禁止]©2ch.net ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ【天空寺】249 [無断転載禁止]©2ch.net (6)', '/thread/【仏教】悟りを開いた人のスレ【天空寺】249 [無断転載禁止]©2ch.net ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ【天空寺】250 [無断転載禁止]©2ch.net (6)', '/thread/【仏教】悟りを開いた人のスレ【天空寺】250 [無断転載禁止]©2ch.net ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ【天空寺】251 [無断転載禁止]©2ch.net (6)', '/thread/【仏教】悟りを開いた人のスレ【天空寺】251 [無断転載禁止]©2ch.net ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ【天空寺】253 [無断転載禁止]©2ch.net (12)', '/thread/【仏教】悟りを開いた人のスレ【 天空寺】253 [無断転載禁止]©2ch.net ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ【天空寺】254 [無断転載禁止]©2ch.net (10)', '/thread/【仏教】悟りを開いた人のスレ【 天空寺】254 [無断転載禁止]©2ch.net ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ【天空寺】256 [無断転載禁止]©2ch.net (10)', '/thread/【仏教】悟りを開いた人のスレ【 天空寺】256 [無断転載禁止]©2ch.net ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ【天空寺】257 [無断転載禁止]©2ch.net (1)', '/thread/【仏教】悟りを開いた人のスレ【天空寺】257 [無断転載禁止]©2ch.net ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ【天空寺】258 [無断転載禁止]©2ch.net (1)', '/thread/【仏教】悟りを開いた人のスレ【天空寺】258 [無断転載禁止]©2ch.net ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ【天空寺】260 [無断転載禁止]©2ch.net (5)', '/thread/【仏教】悟りを開いた人のスレ【天空寺】260 [無断転載禁止]©2ch.net ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ【天空寺】262 (1)', '/thread/【仏教】悟りを開いた人のスレ【天空寺】262 ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ【天空寺】263 (4)', '/thread/【仏教】悟りを開いた人のスレ【天空寺】263 ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ【天空寺】264 (1)', '/thread/【仏教】悟りを開いた人のスレ【天空寺】264 ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ【天空寺心と宗教 (7)', '/thread/【仏教】悟りを開いた人のスレ【天空寺心と宗教 ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ【鬼和尚】 (54)', '/thread/【仏教】悟りを開いた人のスレ【鬼和尚】 ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ100【天空寺】心と (10)', '/thread/【仏教】悟りを開いた人のスレ100【天空寺】心と ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ101【天空寺】心と (12)', '/thread/【仏教】悟りを開いた人のスレ101【天空寺】心と ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ102【天空寺】心と (21)', '/thread/【仏教】悟りを開いた人のスレ102【天空寺】心と ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ103【天空寺】心と (14)', '/thread/【仏教】悟りを開いた人のスレ103【天空寺】心と ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ104【天空寺】心と (3)', '/thread/【仏教】悟りを開いた人のスレ104【天空寺】心と ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ１０６【天空寺】 (4)', '/thread/【仏教】悟りを開いた人のスレ１０６【天空寺】 ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ107【天空寺】心と (5)', '/thread/【仏教】悟りを開いた人のスレ107【天空寺】心と ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ108天空寺】心と宗 (13)', '/thread/【仏教】悟りを開いた人のスレ108天空寺】心と宗 ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ109【天空寺】心と (33)', '/thread/【仏教】悟りを開いた人のスレ109【天空寺】心と ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ110【天空寺】心と (4)', '/thread/【仏教】悟りを開いた人のスレ110【天空寺】心と ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ111【天空寺】心と (5)', '/thread/【仏教】悟りを開いた人のスレ111【天空寺】心と ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ112【天空寺】心と (7)', '/thread/【仏教】悟りを開いた人のスレ112【天空寺】心と ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ114【天空寺】心と (11)', '/thread/【仏教】悟りを開いた人のスレ114【天空寺】心と ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ115【天空寺】心と (13)', '/thread/【仏教】悟りを開いた人のスレ115【天空寺】心と ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ116【天空寺】心と (7)', '/thread/【仏教】悟りを開いた人のスレ116【天空寺】心と ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ117【天空寺】-心と (11)', '/thread/【仏教】悟りを開いた人のスレ117【天空寺】-心と ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ１１８【天空寺】 (8)', '/thread/【仏教】悟りを開いた人のスレ１１８【天空寺】 ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ119【天空寺】心と (17)', '/thread/【仏教】悟りを開いた人のスレ119【天空寺】心と ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ121【天空寺】心と (9)', '/thread/【仏教】悟りを開いた人のスレ121【天空寺】心と ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ122【天空寺】心と (23)', '/thread/【仏教】悟りを開いた人のスレ122【天空寺】心と ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ123　【天空寺】心 (19)', '/thread/【仏教】悟りを開いた人のスレ123　【天空寺】心 ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ124　【天空寺】心 (7)', '/thread/【仏教】悟りを開いた人のスレ124　【天空寺】心 ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ125　【天空寺】心 (9)', '/thread/【仏教】悟りを開いた人のスレ125　【天空寺】心 ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ126【天空寺】心と (24)', '/thread/【仏教】悟りを開いた人のスレ126【天空寺】心と ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ127【天空寺】心と (21)', '/thread/【仏教】悟りを開いた人のスレ127【天空寺】心と ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ128【天空寺】心と (18)', '/thread/【仏教】悟りを開いた人のスレ128【天空寺】心と ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ129【天空寺】心と (7)', '/thread/【仏教】悟りを開いた人のスレ129【天空寺】心と ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ131【天空寺】心と (3)', '/thread/【仏教】悟りを開いた人のスレ131【天空寺】心と ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ132【天空寺】心と (2)', '/thread/【仏教】悟りを開いた人のスレ132【天空寺】心と ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ133【天空寺】心と (4)', '/thread/【仏教】悟りを開いた人のスレ133【天空寺】心と ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ134【天空寺】心と (8)', '/thread/【仏教】悟りを開いた人のスレ134【天空寺】心と ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ136【天空時】心と (18)', '/thread/【仏教】悟りを開いた人のスレ136【天空時】心と ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ137【天空時】心と (8)', '/thread/【仏教】悟りを開いた人のスレ137【天空時】心と ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ142【天空寺】心と (2)', '/thread/【仏教】悟りを開いた人のスレ142【天空寺】心と ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ143【天空寺】心と (2)', '/thread/【仏教】悟りを開いた人のスレ143【天空寺】心と ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ144【天空寺】心と (11)', '/thread/【仏教】悟りを開いた人のスレ144【天空寺】心と ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ145【天空寺】心と (11)', '/thread/【仏教】悟りを開いた人のスレ145【天空寺】心と ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ146【天空寺】心と (6)', '/thread/【仏教】悟りを開いた人のスレ146【天空寺】心と ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ147【天空寺】心と (14)', '/thread/【仏教】悟りを開いた人のスレ147【天空寺】心と ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ148【天空寺】心と (4)', '/thread/【仏教】悟りを開いた人のスレ148【天空寺】心と ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ151【天空寺】心と (1)', '/thread/【仏教】悟りを開いた人のスレ151【天空寺】心と ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ153【天空寺】心と (4)', '/thread/【仏教】悟りを開いた人のスレ153【天空寺】心と ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ154【天空寺】心と (9)', '/thread/【仏教】悟りを開いた人のスレ154【天空寺】心と ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ155【天空寺】心と (4)', '/thread/【仏教】悟りを開いた人のスレ155【天空寺】心と ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ159【天空寺】心 (4)', '/thread/【仏教】悟りを開いた人のスレ159【天空寺】心 ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ167天空寺】心と宗 (8)', '/thread/【仏教】悟りを開いた人のスレ167天空寺】心と宗 ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ168【天空寺】心と (3)', '/thread/【仏教】悟りを開いた人のスレ168【天空寺】心と ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ169【天空寺】心と (16)', '/thread/【仏教】悟りを開いた人のスレ169【天空寺】心と ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ１７０【天空寺】 (22)', '/thread/【仏教】悟りを開いた人のスレ１７０【天空寺】 ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ171【天空寺】心と (19)', '/thread/【仏教】悟りを開いた人のスレ171【天空寺】心と ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ172【天空寺】心と (31)', '/thread/【仏教】悟りを開いた人のスレ172【天空寺】心と ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ174【天空寺】-転載 (13)', '/thread/【仏教】悟りを開いた人のスレ174【天空寺】-転載 ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ176【天空寺】-転載 (34)', '/thread/【仏教】悟りを開いた人のスレ176【天空寺】-転載 ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ177【天空寺】-転載 (28)', '/thread/【仏教】悟りを開いた人のスレ177【天空寺】-転載 ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ178【天空寺】-転載 (17)', '/thread/【仏教】悟りを開いた人のスレ178【天空寺】-転載 ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ179【天空寺】-転載 (10)', '/thread/【仏教】悟りを開いた人のスレ179【天空寺】-転載 ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ180【天空寺】-転載 (9)', '/thread/【仏教】悟りを開いた人のスレ180【天空寺】-転載 ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ182【天空寺】-転載 (16)', '/thread/【仏教】悟りを開いた人のスレ182【天空寺】-転載 ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ183【天空寺】-転載 (30)', '/thread/【仏教】悟りを開いた人のスレ183【天空寺】-転載 ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ184【天空寺】-転載 (23)', '/thread/【仏教】悟りを開いた人のスレ184【天空寺】-転載 ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ185【天空寺】-転載 (31)', '/thread/【仏教】悟りを開いた人のスレ185【天空寺】-転載 ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ186【天空寺】-転載 (25)', '/thread/【仏教】悟りを開いた人のスレ186【天空寺】-転載 ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ187【天空寺】-転載 (30)', '/thread/【仏教】悟りを開いた人のスレ187【天空寺】-転載 ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ188【天空寺】-転載 (25)', '/thread/【仏教】悟りを開いた人のスレ188【天空寺】-転載 ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ189【天空寺】-転 (26)', '/thread/【仏教】悟りを開いた人のスレ189【天空寺】-転 ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ190【天空寺】-転載 (44)', '/thread/【仏教】悟りを開いた人のスレ190【天空寺】-転載 ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ191【天空寺】-転載 (44)', '/thread/【仏教】悟りを開いた人のスレ191【天空寺】-転載 ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ192【天空寺】-転 (2)', '/thread/【仏教】悟りを開いた人のスレ192【天空寺】-転 ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ192【天空寺】-転載 (34)', '/thread/【仏教】悟りを開いた人のスレ192【天空寺】-転載 ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ193【天空寺】 [無断転載禁止]©2ch.net @心と宗教板 (37)', '/thread/【仏教】悟りを開い た人のスレ193【天空寺】 [無断転載禁止]©2ch.net @心と宗教板 ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ193【天空寺】-無 (5)', '/thread/【仏教】悟りを開いた人のスレ193【天空寺】-無 ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ21４【天空寺】 [無断転載禁止]©2ch.net (7)', '/thread/【仏教】悟りを開いた人のスレ21 ４【天空寺】 [無断転載禁止]©2ch.net ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ215【天空寺】 [無断転載禁止]©2ch.net (4)', '/thread/【仏教】悟りを開いた人のスレ215 【天空寺】 [無断転載禁止]©2ch.net ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ216【天空寺】 [無断転載禁止]©2ch.net (10)', '/thread/【仏教】悟りを開いた人のスレ216【天空寺】 [無断転載禁止]©2ch.net ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ217【天空寺】 [無断転載禁止]©2ch.net (20)', '/thread/【仏教】悟りを開いた人のスレ217【天空寺】 [無断転載禁止]©2ch.net ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ218【天空寺】 [無断転載禁止]©2ch.net (17)', '/thread/【仏教】悟りを開いた人のスレ218【天空寺】 [無断転載禁止]©2ch.net ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ220【天空寺】 [無断転載禁止]©2ch.net (9)', '/thread/【仏教】悟りを開いた人のスレ220 【天空寺】 [無断転載禁止]©2ch.net ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ221【天空寺】 [無断転載禁止]©2ch.net (5)', '/thread/【仏教】悟りを開いた人のスレ221 【天空寺】 [無断転載禁止]©2ch.net ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ222【天空寺】 [無断転載禁止]©2ch.net (1)', '/thread/【仏教】悟りを開いた人のスレ222 【天空寺】 [無断転載禁止]©2ch.net ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ223【天空寺】 [無断転載禁止]©2ch.net (8)', '/thread/【仏教】悟りを開いた人のスレ223 【天空寺】 [無断転載禁止]©2ch.net ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ224【天空寺】 [無断転載禁止]©2ch.net (7)', '/thread/【仏教】悟りを開いた人のスレ224 【天空寺】 [無断転載禁止]©2ch.net ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ225【天空寺】 [無断転載禁止]©2ch.net (6)', '/thread/【仏教】悟りを開いた人のスレ225 【天空寺】 [無断転載禁止]©2ch.net ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ226【天空寺】 [無断転載禁止]©2ch.net (8)', '/thread/【仏教】悟りを開いた人のスレ226 【天空寺】 [無断転載禁止]©2ch.net ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ227【天空寺】 [無断転載禁止]©2ch.net (2)', '/thread/【仏教】悟りを開いた人のスレ227 【天空寺】 [無断転載禁止]©2ch.net ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ228【天空寺】 [無断転載禁止]©2ch.net (2)', '/thread/【仏教】悟りを開いた人のスレ228 【天空寺】 [無断転載禁止]©2ch.net ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ229【天空寺】 [無断転載禁止]©2ch.net (5)', '/thread/【仏教】悟りを開いた人のスレ229 【天空寺】 [無断転載禁止]©2ch.net ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ２４【鬼和尚】 (20)', '/thread/【仏教】悟りを開いた人のスレ２４【鬼和尚】 ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ２５【鬼和尚】 (20)', '/thread/【仏教】悟りを開いた人のスレ２５【鬼和尚】 ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ２６【鬼和尚】 (36)', '/thread/【仏教】悟りを開いた人のスレ２６【鬼和尚】 ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ28【鬼和尚】心 (18)', '/thread/【仏教】悟りを開いた人のスレ28【鬼和尚】心 ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ２９【鬼和尚】 (18)', '/thread/【仏教】悟りを開いた人のスレ２９【鬼和尚】 ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ30【鬼和尚】心 (17)', '/thread/【仏教】悟りを開いた人のスレ30【鬼和尚】心 ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ306【天空寺】 (9)', '/thread/【仏教】悟りを開いた人のスレ306【天空寺】 ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ３１【鬼和尚】 (13)', '/thread/【仏教】悟りを開いた人のスレ３１【鬼和尚】 ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ３２【鬼和尚】 (19)', '/thread/【仏教】悟りを開いた人のスレ３２【鬼和尚】 ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ33【鬼和尚】心 (15)', '/thread/【仏教】悟りを開いた人のスレ33【鬼和尚】心 ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ34【鬼和尚】-心 (17)', '/thread/【仏教】悟りを開いた人のスレ34【鬼和尚】-心 ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ35【天空寺】心 (13)', '/thread/【仏教】悟りを開いた人のスレ35【天空寺】心 ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ366【天空寺】 (3)', '/thread/【仏教】悟りを開いた人のスレ366【天空寺】 ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ367【天空寺】 (4)', '/thread/【仏教】悟りを開いた人のスレ367【天空寺】 ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ368【天空寺】 (3)', '/thread/【仏教】悟りを開いた人のスレ368【天空寺】 ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ37【天空寺】心 (11)', '/thread/【仏教】悟りを開いた人のスレ37【天空寺】心 ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ371【天空寺】 (4)', '/thread/【仏教】悟りを開いた人のスレ371【天空寺】 ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ39【天空寺】心 (17)', '/thread/【仏教】悟りを開いた人のスレ39【天空寺】心 ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ40【天空寺】心 (19)', '/thread/【仏教】悟りを開いた人のスレ40【天空寺】心 ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ407【天空寺】 (1)', '/thread/【仏教】悟りを開いた人のスレ407【天空寺】 ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ41【天空寺】心 (11)', '/thread/【仏教】悟りを開いた人のスレ41【天空寺】心 ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ410【天空寺】 (1)', '/thread/【仏教】悟りを開いた人のスレ410【天空寺】 ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ411【天空寺】 (4)', '/thread/【仏教】悟りを開いた人のスレ411【天空寺】 ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ412【天空寺】 (2)', '/thread/【仏教】悟りを開いた人のスレ412【天空寺】 ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ415【天空寺】 (14)', '/thread/【仏教】悟りを開いた人のスレ415【天空寺】 ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ416【天空寺】 (4)', '/thread/【仏教】悟りを開いた人のスレ416【天空寺】 ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ417【天空寺】 (7)', '/thread/【仏教】悟りを開いた人のスレ417【天空寺】 ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ418【天空寺】 (25)', '/thread/【仏教】悟りを開いた人のスレ418【天空寺】 ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ419【天空寺】 (25)', '/thread/【仏教】悟りを開いた人のスレ419【天空寺】 ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ42【天空寺】心 (24)', '/thread/【仏教】悟りを開いた人のスレ42【天空寺】心 ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ420【天空寺】 (15)', '/thread/【仏教】悟りを開いた人のスレ420【天空寺】 ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ421【天空寺】 (12)', '/thread/【仏教】悟りを開いた人のスレ421【天空寺】 ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ422【天空寺】 (33)', '/thread/【仏教】悟りを開いた人のスレ422【天空寺】 ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ423【天空寺】 (20)', '/thread/【仏教】悟りを開いた人のスレ423【天空寺】 ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ424【天空寺】 (12)', '/thread/【仏教】悟りを開いた人のスレ424【天空寺】 ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ429【天空寺】 (10)', '/thread/【仏教】悟りを開いた人のスレ429【天空寺】 ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ43【天空寺】心 (15)', '/thread/【仏教】悟りを開いた人のスレ43【天空寺】心 ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ434【天空寺】 (3)', '/thread/【仏教】悟りを開いた人のスレ434【天空寺】 ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ435【天空寺】 (31)', '/thread/【仏教】悟りを開いた人のスレ435【天空寺】 ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ436【天空寺】 (4)', '/thread/【仏教】悟りを開いた人のスレ436【天空寺】 ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ44【天空寺】心 (18)', '/thread/【仏教】悟りを開いた人のスレ44【天空寺】心 ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ45【天空寺】心 (38)', '/thread/【仏教】悟りを開いた人のスレ45【天空寺】心 ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ457【天空寺】 (24)', '/thread/【仏教】悟りを開いた人のスレ457【天空寺】 ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ46【天空寺】心 (50)', '/thread/【仏教】悟りを開いた人のスレ46【天空寺】心 ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ461【天空寺】 (9)', '/thread/【仏教】悟りを開いた人のスレ461【天空寺】 ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ462【天空寺】 (5)', '/thread/【仏教】悟りを開いた人のスレ462【天空寺】 ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ463【天空寺】 (27)', '/thread/【仏教】悟りを開いた人のスレ463【天空寺】 ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ464【天空寺】 (20)', '/thread/【仏教】悟りを開いた人のスレ464【天空寺】 ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ465【天空寺】 (12)', '/thread/【仏教】悟りを開いた人のスレ465【天空寺】 ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ466【天空寺】 (19)', '/thread/【仏教】悟りを開いた人のスレ466【天空寺】 ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ467【天空寺】 (6)', '/thread/【仏教】悟りを開いた人のスレ467【天空寺】 ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ468【天空寺】 (18)', '/thread/【仏教】悟りを開いた人のスレ468【天空寺】 ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ469【天空寺】 (27)', '/thread/【仏教】悟りを開いた人のスレ469【天空寺】 ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ470【天空寺】 (20)', '/thread/【仏教】悟りを開いた人のスレ470【天空寺】 ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ471【天空寺】 (26)', '/thread/【仏教】悟りを開いた人のスレ471【天空寺】 ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ472【天空寺】 (12)', '/thread/【仏教】悟りを開いた人のスレ472【天空寺】 ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ48【天空寺】心と (36)', '/thread/【仏教】悟りを開いた人のスレ48【天空寺】心と ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ49【天空寺】心と (22)', '/thread/【仏教】悟りを開いた人のスレ49【天空寺】心と ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ50【天空寺】心 (19)', '/thread/【仏教】悟りを開いた人のスレ50【天空寺】心 ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ51【天空寺】心と (9)', '/thread/【仏教】悟りを開いた人のスレ51【天空寺】心と ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ58【天空寺】心と (9)', '/thread/【仏教】悟りを開いた人のスレ58【天空寺】心と ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ59【天空寺】-心と (16)', '/thread/【仏教】悟りを開いた人のスレ59【天空寺】-心と ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ60【天空寺】-心と (1)', '/thread/【仏教】悟りを開いた人のスレ60【天空寺】-心と ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ61【天空寺】-心と (13)', '/thread/【仏教】悟りを開いた人のスレ61【天空寺】-心と ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ62【天空寺】-心と (1)', '/thread/【仏教】悟りを開いた人のスレ62【天空寺】-心と ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ63【天空寺】心と (19)', '/thread/【仏教】悟りを開いた人のスレ63【天空寺】心と ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ64【天空寺】-心と (14)', '/thread/【仏教】悟りを開いた人のスレ64【天空寺】-心と ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ65【天空寺】-心と (19)', '/thread/【仏教】悟りを開いた人のスレ65【天空寺】-心と ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ66【天空寺】心と (23)', '/thread/【仏教】悟りを開いた人のスレ66【天空寺】心と ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ67【天空寺】-心と (15)', '/thread/【仏教】悟りを開いた人のスレ67【天空寺】-心と ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ68【天空寺】-心と (12)', '/thread/【仏教】悟りを開いた人のスレ68【天空寺】-心と ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ6９【天空寺】-心 (17)', '/thread/【仏教】悟りを開いた人のスレ6９【天空寺】-心 ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ70【天空寺】-心と (40)', '/thread/【仏教】悟りを開いた人のスレ70【天空寺】-心と ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ7１【天空寺】-心 (13)', '/thread/【仏教】悟りを開いた人のスレ7１【天空寺】-心 ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ7２【天空寺】-心 (17)', '/thread/【仏教】悟りを開いた人のスレ7２【天空寺】-心 ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ７３【天空寺】-心 (15)', '/thread/【仏教】悟りを開いた人のスレ７３【天空寺】-心 ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ７４【天空寺】 (26)', '/thread/【仏教】悟りを開いた人のスレ７４【天空寺】 ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ７５【天空寺】-心 (21)', '/thread/【仏教】悟りを開いた人のスレ７５【天空寺】-心 ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ７６【天空寺】-心 (12)', '/thread/【仏教】悟りを開いた人のスレ７６【天空寺】-心 ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ７7【天空寺】-心 (17)', '/thread/【仏教】悟りを開いた人のスレ７7【天空寺】-心 ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ78【天空寺】-心と (8)', '/thread/【仏教】悟りを開いた人のスレ78【天空寺】-心と ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ79【天空寺】-心と (11)', '/thread/【仏教】悟りを開いた人のスレ79【天空寺】-心と ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ80【天空寺】-心と (13)', '/thread/【仏教】悟りを開いた人のスレ80【天空寺】-心と ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ81【天空寺】-心と (23)', '/thread/【仏教】悟りを開いた人のスレ81【天空寺】-心と ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ82【天空寺】-心と (19)', '/thread/【仏教】悟りを開いた人のスレ82【天空寺】-心と ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ８３【天空寺】-心 (19)', '/thread/【仏教】悟りを開いた人のスレ８３【天空寺】-心 ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ８４【天空寺】-心 (12)', '/thread/【仏教】悟りを開いた人のスレ８４【天空寺】-心 ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ８５【天空寺】-心 (11)', '/thread/【仏教】悟りを開いた人のスレ８５【天空寺】-心 ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ８６【天空寺】-心 (30)', '/thread/【仏教】悟りを開いた人のスレ８６【天空寺】-心 ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ８７【天空寺】-心 (32)', '/thread/【仏教】悟りを開いた人のスレ８７【天空寺】-心 ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ８８【天空寺】-心 (5)', '/thread/【仏教】悟りを開いた人のスレ８８【天空寺】-心 ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ８９【天空寺】-心 (50)', '/thread/【仏教】悟りを開いた人のスレ８９【天空寺】-心 ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ９２【天空寺】心 (18)', '/thread/【仏教】悟りを開いた人のスレ９２【天空寺】心 ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ９３【天空寺】心 (30)', '/thread/【仏教】悟りを開いた人のスレ９３【天空寺】心 ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ９４【天空寺】心 (14)', '/thread/【仏教】悟りを開いた人のスレ９４【天空寺】心 ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ９５【天空寺】心 (9)', '/thread/【仏教】悟りを開いた人のスレ９５【天空寺】心 ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ９６【天空寺】心 (25)', '/thread/【仏教】悟りを開いた人のスレ９６【天空寺】心 ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ９７【天空寺】心 (15)', '/thread/【仏教】悟りを開いた人のスレ９７【天空寺】心 ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ９８【天空寺】心 (15)', '/thread/【仏教】悟りを開いた人のスレ９８【天空寺】心 ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ９９【天空寺】心 (15)', '/thread/【仏教】悟りを開いた人のスレ９９【天空寺】心 ' %></li>
<li><%= link_to '【仏教】悟りを開きたい人のスレ47【天空寺】 (47)', '/thread/【仏教】悟りを開きたい人のスレ47【天空寺】 ' %></li>
<li><%= link_to '【仏経】悟りを開いた人のスレ９０【天空寺】心 (46)', '/thread/【仏経】悟りを開いた人のスレ９０【天空寺】心 ' %></li>
<li><%= link_to '【仏経】悟りを開いた人のスレ９１【天空寺】心 (36)', '/thread/【仏経】悟りを開いた人のスレ９１【天空寺】心 ' %></li>
<li><%= link_to '【鬼和尚】悟りを開いた人のスレ【辻説法】 (45)', '/thread/【鬼和尚】悟りを開いた人のスレ【辻説法】 ' %></li>
<li><%= link_to '】【仏教】悟りを開いた人のスレ113【天空寺】心 (4)', '/thread/】【仏教】悟りを開いた人のスレ113【天空寺】心 ' %></li>
<li><%= link_to 'J. Krishnamurti, Osho, and Gurdjieff 2.0 (15)', '/thread/J. Krishnamurti, Osho, and Gurdjieff 2.0 ' %></li>
<li><%= link_to '仏教】 悟りを開いた人のスレ276 【天空寺 (6)', '/thread/仏教】 悟りを開いた人のスレ276 【天空寺 ' %></li>
<li><%= link_to '仏教】悟りを開いた人のスレ-21【鬼和尚】心と (23)', '/thread/仏教】悟りを開いた人のスレ-21【鬼和尚】心と ' %></li>
<li><%= link_to '仏教】悟りを開いた人のスレ135【天空寺心と宗教 (27)', '/thread/仏教】悟りを開いた人のスレ135【天空寺心と宗教 ' %></li>
<li><%= link_to '仏教】悟りを開いた人のスレ138【天空寺心と宗教 (1)', '/thread/仏教】悟りを開いた人のスレ138【天空寺心と宗教 ' %></li>
<li><%= link_to '仏教】悟りを開いた人のスレ140【天空寺心と宗教 (7)', '/thread/仏教】悟りを開いた人のスレ140【天空寺心と宗教 ' %></li>
<li><%= link_to '仏教】悟りを開いた人のスレ175【天空寺】-転載禁 (18)', '/thread/仏教】悟りを開いた人のスレ175【天空寺】-転載禁 ' %></li>
<li><%= link_to '仏教】悟りを開いた人のスレ181【天空寺-転載禁止 (10)', '/thread/仏教】悟りを開いた人のスレ181【天空寺-転載禁止 ' %></li>
<li><%= link_to '仏教】悟りを開いた人のスレ219【天空寺 [無断転載禁止]©2ch.net (21)', '/thread/仏教】悟りを開いた人のスレ219【天空寺 [無断転載禁止]©2ch.net ' %></li>
<li><%= link_to '仏教】悟りを開いた人のスレ230【天空寺 [無断転載禁止]©2ch.net (14)', '/thread/仏教】悟りを開いた人のスレ230【天空寺 [無断転載禁止]©2ch.net ' %></li>
<li><%= link_to '仏教】悟りを開いた人のスレ231【天空寺】 [無断転載禁止]©2ch.net (14)', '/thread/仏教】悟りを開いた人のスレ231【天空寺】 [無断転載禁止]©2ch.net ' %></li>
<li><%= link_to '前スレ【仏教】悟りを開いた人のスレ152【天空寺 (1)', '/thread/前スレ【仏教】悟りを開いた人のスレ152【天空寺 ' %></li>
<li><%= link_to '悟りました (46)', '/thread/悟りました ' %></li>
<li><%= link_to '転載禁止-【仏教】悟りを開いた人のスレ173【天空 (17)', '/thread/転載禁止-【仏教】悟りを開いた人のスレ173【天空 ' %></li>
<li><%= link_to '鬼和尚の仏教勉強会　悟りの真実 [無断転載禁止]©2ch.net (50)', '/thread/鬼和尚の仏教勉強会　悟りの真実 [無断転載禁止]©2ch.net ' %></li>
<li><%= link_to '鬼和尚の仏教勉強会　悟りの真実　3 [無断転載禁止]©2ch.net (64)', '/thread/鬼和尚の仏教勉強会　悟りの真実　3 [無断転載禁止]©2ch.net ' %></li>
<li><%= link_to '鬼和尚の仏教勉強会　悟りの真実　4 [無断転載禁止]©2ch.net (17)', '/thread/鬼和尚の仏教勉強会　悟りの真実　4 [無断転載禁止]©2ch.net ' %></li>
        </ul>
      </li>
      <li class="fat"><div class="btn-square">未分類 (149)</div>
        <ul class="cil">
         <li><%= link_to '悟りを開いた人達参加のこれから3 – その他の掲示板 (93)', '/thread/悟りを開いた人達参加のこれから3 – その他の掲示 板 ' %></li>
        <li><%= link_to '鬼和尚の仏教勉強会　悟りの真実　2 [無断転載禁止]©2ch.net @その他の掲示板 (55)', '/thread/鬼和尚の仏教勉強会　悟 りの真実　2 [無断転載禁止]©2ch.net @その他の掲示板 ' %></li>
        </ul>
      </li>
      <li class="fat"><div class="btn-square">生活全般板 (4435)</div>
        <ul class="cil">
        <li><%= link_to '　【相談】悟りを開いた人に聞いてみるスレ【仏 (58)', '/thread/　【相談】悟りを開いた人に聞いてみるスレ【仏 ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ【再挑戦】その (25)', '/thread/【仏教】悟りを開いた人のスレ【再挑戦】その ' %></li>
<li><%= link_to '【仏教】悟りを開いた人のスレ1【生活全般板】 (12)', '/thread/【仏教】悟りを開いた人のスレ1【生活全般板】 ' %></li>
<li><%= link_to '【生活】悟りを開いた人に聞いてみるスレ【仏教 (3)', '/thread/【生活】悟りを開いた人に聞いてみるスレ【仏教 ' %></li>
<li><%= link_to '【生活】悟りを開いた人に聞いてみるｽﾚ【全 (179)', '/thread/【生活】悟りを開いた人に聞いてみるｽﾚ【全 ' %></li>
<li><%= link_to '【生活】悟りを開いた人に聞いてみるｽﾚ【全般 (53)', '/thread/【生活】悟りを開いた人に聞いてみるｽﾚ【全般 ' %></li>
<li><%= link_to '【相談】悟りを開いた人に聞いてみるスレ【仏 (125)', '/thread/【相談】悟りを開いた人に聞いてみるスレ【仏 ' %></li>
<li><%= link_to '【相談】悟りを開いた人に聞いてみるスレ【仏教-3 (59)', '/thread/【相談】悟りを開いた人に聞いてみるスレ【仏教-3 ' %></li>
<li><%= link_to '【相談】悟りを開いた人に聞いてみるスレ【仏教-4 (93)', '/thread/【相談】悟りを開いた人に聞いてみるスレ【仏教-4 ' %></li>
<li><%= link_to '【相談】悟りを開いた人に聞いてみるスレ【仏教-5 (109)', '/thread/【相談】悟りを開いた人に聞いてみるスレ【仏教-5 ' %></li>
<li><%= link_to '【相談】悟りを開いた人に聞いてみるスレ【仏教-7 (58)', '/thread/【相談】悟りを開いた人に聞いてみるスレ【仏教-7 ' %></li>
<li><%= link_to '【相談】悟りを開いた人に聞くスレ【仏教】 45 (135)', '/thread/【相談】悟りを開いた人に聞くスレ【仏教】 45 ' %></li>
<li><%= link_to '【相談】悟りを開いた人に聞くスレ【仏教】 46 (129)', '/thread/【相談】悟りを開いた人に聞くスレ【仏教】 46 ' %></li>
<li><%= link_to '【相談】悟りを開いた人に聞くスレ【仏教】 47 (85)', '/thread/【相談】悟りを開いた人に聞くスレ【仏教】 47 ' %></li>
<li><%= link_to '【相談】悟りを開いた人に聞くスレ【仏教】 48 (79)', '/thread/【相談】悟りを開いた人に聞くスレ【仏教】 48 ' %></li>
<li><%= link_to '【相談】悟りを開いた人に聞くスレ【仏教】 49 (90)', '/thread/【相談】悟りを開いた人に聞くスレ【仏教】 49 ' %></li>
<li><%= link_to '【相談】悟りを開いた人に聞くスレ【仏教】 50 (146)', '/thread/【相談】悟りを開いた人に聞くスレ【仏教】 50 ' %></li>
<li><%= link_to '【相談】悟りを開いた人に聞くスレ【仏教】 51 (57)', '/thread/【相談】悟りを開いた人に聞くスレ【仏教】 51 ' %></li>
<li><%= link_to '【相談】悟りを開いた人に聞くスレ【仏教】１２ (117)', '/thread/【相談】悟りを開いた人に聞くスレ【仏教】１２ ' %></li>
<li><%= link_to '【相談】悟りを開いた人に聞くスレ【仏教】13生 (50)', '/thread/【相談】悟りを開いた人に聞くスレ【仏教】13生 ' %></li>
<li><%= link_to '【相談】悟りを開いた人に聞くスレ【仏教】14生 (141)', '/thread/【相談】悟りを開いた人に聞くスレ【仏教】14生 ' %></li>
<li><%= link_to '【相談】悟りを開いた人に聞くスレ【仏教】15生 (69)', '/thread/【相談】悟りを開いた人に聞くスレ【仏教】15生 ' %></li>
<li><%= link_to '【相談】悟りを開いた人に聞くスレ【仏教】１６ (66)', '/thread/【相談】悟りを開いた人に聞くスレ【仏教】１６ ' %></li>
<li><%= link_to '【相談】悟りを開いた人に聞くスレ【仏教】１７ (94)', '/thread/【相談】悟りを開いた人に聞くスレ【仏教】１７ ' %></li>
<li><%= link_to '【相談】悟りを開いた人に聞くスレ【仏教】１８ (78)', '/thread/【相談】悟りを開いた人に聞くスレ【仏教】１８ ' %></li>
<li><%= link_to '【相談】悟りを開いた人に聞くスレ【仏教】１９ (96)', '/thread/【相談】悟りを開いた人に聞くスレ【仏教】１９ ' %></li>
<li><%= link_to '【相談】悟りを開いた人に聞くスレ【仏教】２０ (79)', '/thread/【相談】悟りを開いた人に聞くスレ【仏教】２０ ' %></li>
<li><%= link_to '【相談】悟りを開いた人に聞くスレ【仏教】２１ (87)', '/thread/【相談】悟りを開いた人に聞くスレ【仏教】２１ ' %></li>
<li><%= link_to '【相談】悟りを開いた人に聞くスレ【仏教】22生 (123)', '/thread/【相談】悟りを開いた人に聞くスレ【仏教】22生 ' %></li>
<li><%= link_to '【相談】悟りを開いた人に聞くスレ【仏教】23生 (81)', '/thread/【相談】悟りを開いた人に聞くスレ【仏教】23生 ' %></li>
<li><%= link_to '【相談】悟りを開いた人に聞くスレ【仏教】24生 (72)', '/thread/【相談】悟りを開いた人に聞くスレ【仏教】24生 ' %></li>
<li><%= link_to '【相談】悟りを開いた人に聞くスレ【仏教】25生 (84)', '/thread/【相談】悟りを開いた人に聞くスレ【仏教】25生 ' %></li>
<li><%= link_to '【相談】悟りを開いた人に聞くスレ【仏教】26生 (66)', '/thread/【相談】悟りを開いた人に聞くスレ【仏教】26生 ' %></li>
<li><%= link_to '【相談】悟りを開いた人に聞くスレ【仏教】27生 (58)', '/thread/【相談】悟りを開いた人に聞くスレ【仏教】27生 ' %></li>
<li><%= link_to '【相談】悟りを開いた人に聞くスレ【仏教】28生 (107)', '/thread/【相談】悟りを開いた人に聞くスレ【仏教】28生 ' %></li>
<li><%= link_to '【相談】悟りを開いた人に聞くスレ【仏教】29生 (88)', '/thread/【相談】悟りを開いた人に聞くスレ【仏教】29生 ' %></li>
<li><%= link_to '【相談】悟りを開いた人に聞くスレ【仏教】30-転 (66)', '/thread/【相談】悟りを開いた人に聞くスレ【仏教】30-転 ' %></li>
<li><%= link_to '【相談】悟りを開いた人に聞くスレ【仏教】31 [転載禁止]©2ch.net @生活全般板 (148)', '/thread/【相談】悟りを開いた 人に聞くスレ【仏教】31 [転載禁止]©2ch.net @生活全般板 ' %></li>
<li><%= link_to '【相談】悟りを開いた人に聞くスレ【仏教】32 [転載禁止]©2ch.net @生活全般板 (118)', '/thread/【相談】悟りを開いた 人に聞くスレ【仏教】32 [転載禁止]©2ch.net @生活全般板 ' %></li>
<li><%= link_to '【相談】悟りを開いた人に聞くスレ【仏教】33 [無断転載禁止]©2ch.net @生活全般板 (163)', '/thread/【相談】悟りを開 いた人に聞くスレ【仏教】33 [無断転載禁止]©2ch.net @生活全般板 ' %></li>
<li><%= link_to '【相談】悟りを開いた人に聞くスレ【仏教】34 [無断転載禁止]©2ch.net @生活全般板 (153)', '/thread/【相談】悟りを開 いた人に聞くスレ【仏教】34 [無断転載禁止]©2ch.net @生活全般板 ' %></li>
<li><%= link_to '【相談】悟りを開いた人に聞くスレ【仏教】35 [無断転載禁止]©2ch.net @生活全般板 (95)', '/thread/【相談】悟りを開いた人に聞くスレ【仏教】35 [無断転載禁止]©2ch.net @生活全般板 ' %></li>
<li><%= link_to '【相談】悟りを開いた人に聞くスレ【仏教】36 [無断転載禁止]©2ch.net @生活全般板 (120)', '/thread/【相談】悟りを開 いた人に聞くスレ【仏教】36 [無断転載禁止]©2ch.net @生活全般板 ' %></li>
<li><%= link_to '【相談】悟りを開いた人に聞くスレ【仏教】37 [無断転載禁止]©2ch.net @生活全般板 (107)', '/thread/【相談】悟りを開 いた人に聞くスレ【仏教】37 [無断転載禁止]©2ch.net @生活全般板 ' %></li>
<li><%= link_to '【相談】悟りを開いた人に聞くスレ【仏教】38 [無断転載禁止]©2ch.net (148)', '/thread/【相談】悟りを開いた人に聞く スレ【仏教】38 [無断転載禁止]©2ch.net ' %></li>
<li><%= link_to '【相談】悟りを開いた人に聞くスレ【仏教】39 [無断転載禁止]©2ch.net (76)', '/thread/【相談】悟りを開いた人に聞くスレ【仏教】39 [無断転載禁止]©2ch.net ' %></li>
<li><%= link_to '【相談】悟りを開いた人に聞くスレ【仏教】40 (50)', '/thread/【相談】悟りを開いた人に聞くスレ【仏教】40 ' %></li>
<li><%= link_to '【相談】悟りを開いた人に聞くスレ【仏教】41 (39)', '/thread/【相談】悟りを開いた人に聞くスレ【仏教】41 ' %></li>
<li><%= link_to '【相談】悟りを開いた人に聞くスレ【仏教】43 (23)', '/thread/【相談】悟りを開いた人に聞くスレ【仏教】43 ' %></li>
<li><%= link_to '【相談】悟りを開いた人に聞くスレ【仏教】44 (49)', '/thread/【相談】悟りを開いた人に聞くスレ【仏教】44 ' %></li>
<li><%= link_to '相談】悟りを開いた人に聞くスレ【仏教】42 (29)', '/thread/相談】悟りを開いた人に聞くスレ' %></li>
        </ul>
      </li>
      
      
    </ul>

</div>

<style>
    .threads{
        margin-top: 100px;
        color: #FF6699;
        font-family: serif;
    }
    .list li{
        margin-top: 5px;
    }
    .fat{
        font-size: 20px;
        cursor: pointer;
    }
    .cil{
        font-size: 17px;
    }
    .btn-square {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #FF6699;/*ボタン色*/
  color: #FFF;
  border-bottom: solid 4px #FF6699;
  border-radius: 3px;
}
.btn-square:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  border-bottom: none;/*線を消す*/
}
</style>


<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>
(function() {
  $.fn.extend({
    expList: function(options) {
      var opts, self;

      self = $.fn.expList;
      opts = $.extend({}, self.default_options, options);
      return $(this).each(function(i, elem) {
        return self.init(elem, opts);
      });
    }
  });

  $.extend($.fn.expList, {
    default_options: {
      duration: 600,
      enableLinks: true
    },
    init: function(elem, opts) {
      var child, childrenList, _fn, _i, _len;

      $(elem).find('ul').hide();
      childrenList = $(elem).find('li:has(ul)');
      _fn = function() {
        return $(child).click(function(e) {
          $(e.target).closest('li').children('ul').toggle(opts.duration);
          return e.stopPropagation();
        });
      };
      for (_i = 0, _len = childrenList.length; _i < _len; _i++) {
        child = childrenList[_i];
        _fn();
      }
      if (opts.enableLinks) {
        return $(elem).find('a').off('click').on('click', function(e) {
          return e.stopPropagation();
        });
      }
    }
  });

}).call(this);
</script>
<script>
  $('.list').expList();
</script>
